h1 {
	color: white;
	font-family: verdana;
	font-size: 100%;
}

h2 {
	color: white;
	font-family: verdana;
	font-size: 100%;
}

h3 {
	font-family: verdana;
	font-size: 100%;
}

h4{
	font-family:verdana;
	color:white;
}

p {
	color: red;
}